.heroBox {
  position: relative;
  height: min(500px, 90vw);
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 50px;
  margin-top: 10px;
  text-align: center;
}

.heroBox::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("mobius_bind.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.heroTextBox {
  position: relative;
  height: min(450px, 77vw);
}

.heroCredit {
  position: relative;
  text-align: right;
}

.mottoText {
  font-family: "roboto mono";
}

.greetText {
  font-size: 20px;
}
