.timelineNode1 {
  flex: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.timelineNode2 {
  width: 25px;
  flex: none;

  height: 25px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.timelineNode3 {
  flex: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 100px;
}

.uniNode {
  margin-bottom: 50px;
}

.text {
  margin-bottom: 10px;
}